.container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 740px;
    padding: 20px;
}
.weui_cell_hd img{
    width: 100px;
    margin-right:10px;
    display:block
}
.weui_article img{
    width:100%;
}
.weui_cell_bd .desc{
    font-size: 14px;
    color: #888;
}